

<div class="container">
    <section class="firstDiv">
      <div class="first">
        <h1>Jobs From <span class="A-Z">A-Z</span></h1>
        <div class="multiline firstParagraph">Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a galley
          of type and scrambled it to make a type specimen book. It has
          survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged. It was popularised in
        </div> 
      </div>
      
      <img src="../../assets/man.svg" alt="man" class="man">
    </section>
  
    <section class="secondDiv"> 
      <h1 class="subhead">SupportFinity General hiring guidelines for hiring ljobls</h1>
      <button>Hiring Guidelines</button>
    </section>
  
    <section class="thirdDiv">
      <div class="third">
        <h1 class="sub">What we care about at SupportFinity</h1>
        <div class="multiline secondParagraph">The sole goal of our complicated hiring process is to
          maximize the value and the contribution your ljobls
          will add to your business, we provide unique benefits
          for our full time people to making sure we operate a`
          lowest attrition levels.
        </div>
      </div>
      <img src="../../assets/mountain.svg" class="mountain">
    </section>
  </div>
  <router-outlet></router-outlet>